<!-- <div class="team-modal-mask is-hidden" data-team-modal> замінено бекдроп-->
<div class="team-modal is-hidden" data-team-modal>
  <button class="team-modal__btn" data-team-modal-close>
    <svg width="30" height="30">
      <use href="./images/sprite.svg#button-close"></use>
    </svg>
  </button>
  <div class="team-modal__markup">
    <h2 class="team-modal__title">Our team</h2>
    <div class="people">
      <div class="people__card people__card--wrapper">
        <div class="name">
          <h3 class="name__team">Anastasiia</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a class="github__link" href="https://github.com/matoka02" target="_blank">
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/sprite.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->